<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DMPS</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--j-Query-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</head>
<body>
    <!--navbar-->
    <nav class="blue">
        <div class="container">
          <div class="nav-wrapper">
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <a href="#" class="brand-logo">DMPS</a>
              <ul id="nav-mobile" class="left hide-on-med-and-down right">
                <li><a href="/student/home">Home</a></li>
                <li><a href="#">Notice</a></li>
                <li><a href="/student/teacher">Teacher</a></li>
                <li><a href="/student/marks">mark</a></li>
                <li><a href="/student/logout">Logout</a></li>
                <li><a href="#" class="blue darken-1">{{name}}</a></li>
              </ul>              
              <!--sidebar menu-->
              <ul class="sidenav" id="mobile-demo">
                  <li><a href="#">{{name}}</a></li>
                  <li><a href="/student/home" class="btn waves-effect light-blue accent-3 white-text z-depth-4">Home</a></li>
                  <li><a href="#" class="btn waves-effect light-blue accent-3 white-text z-depth-4">Notice</a></li>
                  <li><a href="/student/teacher" class="btn waves-effect light-blue accent-3 white-text z-depth-4">Teacher</a></li>
                  <li><a href="/student/marks" class="btn waves-effect light-blue accent-3 white-text z-depth-4">Mark</a></li>
                  <li><a href="/student/logout" class="btn waves-effect light-blue accent-3 white-text z-depth-4">Logout</a></li>
                </ul>
              </div>              
          </div>
      </nav> 

    <!--body-->
    <p class="flow-text center pink-text accent-3">Notice</p>
    <div class="container" style="margin-top: 25px">
        <div class="row">

           {{#each notices}}
            <div class="col s12">
              <div class="card white">
                <div class="card-content black-text" style="position: relative;">
                  <span>Notice No: {{noticeno}}</span>
                  <span style="position: absolute; right:5%">Date: {{date}}</span>
                  <div style="font-size: 20px; margin-top: 5px; line-height: 25px">{{notice}}</div>
                </div>
              </div>
            </div>
           {{/each}}

          <h3 class="center-align">{{msg}}</h3>
          </div>
    </div>
    <!--footer-->

    <!--materialize init-->
    <script>
      
      $('document').ready(() => {
        // sidebar init
        $('.sidenav').sidenav();
      });

      
    </script>
    
    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>